.downgrade{font-weight:bold;color:red}
.mbi-newer{font-weight:bold;color:blue}
.keep-version{font-weight:bold;color:orange}
.correct-version{font-weight:bold;color:darkorchid}
.stable-up-to-date{font-weight:bold;color:darkgreen}
table, th, td { border: 1px solid black; }
tr:hover { background-color: lightblue; }
