<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
</head>

<link rel="stylesheet" href="mystyle.css">

<table class="versions">
	<tr class="header">
		<th rowspan="2">Package name</th>
		<th colspan="{{len(sum(report_dict["version-columns"].values(), [])) + len(report_dict["upstream-columns"])}}">Versions</th>
		<th rowspan="2">Comments</th>
		<th rowspan="2" colspan="3">Links (MBI)</th>
	</tr>
	<tr class="header">
		{% for version_name in report_dict["version-columns"]["fedora"] %}
			<th>{{version_name}}</th>
		{% endfor %}
		
		{% for version_name in report_dict["version-columns"]["mbi"] %}
			<th>{{version_name}}</th>
		{% endfor %}
		
		<th colspan="{{len(report_dict["upstream-columns"])}}">Upstream</th>
	</tr>
	
	{% set fedora_list = report_dict["version-columns"]["fedora"] %}
	{% for package_name in sorted(report_dict["versions"]) %}
	<tr>
		{% set package_dict = report_dict["versions"][package_name] %}
		<td>{{package_name}}</td>
		
		{% set previous_version = namespace(value = package_dict["fedora"][fedora_list[0]]) %}
		{% set current_version = namespace(value = None) %}
		{% set colspan = namespace(value = 1) %}
		
		{% for index in range(1, len(fedora_list)) %}
			{% set current_version.value = package_dict["fedora"][fedora_list[index]] %}
			{% if previous_version.value == current_version.value %}
				{% set colspan.value = colspan.value + 1 %}
			{% else %}
				<td colspan="{{colspan.value}}">{{previous_version.value}}</td>
				{% set colspan.value = 1 %}
				{% set previous_version.value = current_version.value %}
			{% endif %}
		{% endfor %}
		<td colspan="{{colspan.value}}">{{current_version.value}}</td>
		
		{% set mbi_bootstrap_version = package_dict["mbi"].get("mbi-bootstrap") %}
		{% set mbi_version = package_dict["mbi"]["mbi"] %}
		{% set latest_upstream_version = package_dict["upstream"]["latest"] %}
		{% set latest_upstream_stable_version = package_dict["upstream"]["latest-stable"] %}
		
		{% if package_dict.get("comments") != None %}
			{% set correct_version = package_dict["comments"].get("correct-version") %}
			{% set keep_version = package_dict["comments"].get("keep-version") %}
		{% endif %}
		
		{% if mbi_bootstrap_version != None %}
			{% set comparison = version_compare(mbi_bootstrap_version, mbi_version) %}
			
			{% if correct_version != None and mbi_bootstrap_version == correct_version %}
				<td class="correct-version">
			{% elif keep_version != None and mbi_bootstrap_version == keep_version %}
				<td class="keep-version">
			{% elif comparison < 0 %}
				<td class="downgrade">
			{% elif comparison > 0 %}
				<td class="upgrade">
			{% else %}
				<td>
			{% endif %}
			{{mbi_bootstrap_version}}</td>
		{% else %}
			<td></td>
		{% endif %}
		
		{% set comparison = version_compare(mbi_version, latest_upstream_version) %}
		{% if correct_version != None and mbi_version == correct_version %}
			<td class="correct-version">
		{% elif keep_version != None and mbi_bootstrap_version == keep_version %}
			<td class="keep-version">
		{% elif comparison < 0 %}
			{% if version_compare(mbi_version, latest_upstream_stable_version) >= 0 %}
				<td class="stable-up-to-date">
			{% else %}
				<td class="downgrade">
			{% endif %}
		{% elif comparison > 0 %}
			<td class="upgrade">
		{% else %}
			<td>
		{% endif %}
		{{mbi_version}}</td>
		
		{% set latest = package_dict["upstream"]["latest"] %}
		{% set latest_stable = package_dict["upstream"]["latest-stable"] %}
		{% if latest == latest_stable %}
			<td colspan="2">{{latest}}</td>
		{% else %}
			<td>{{latest}}</td>
			<td>{{latest_stable}}</td>
		{% endif%}
			
		<td>
		{% set comments = package_dict.get("comments") %}
		{% if comments != None %}
			{{comments["comment"]}}
		{% endif%}
		</td>
		
		<td>
			&nbsp<a href="https://src.fedoraproject.org/fork/mbi/rpms/{{package_name}}" target="_blank">dist-git</a>&nbsp
		</td>
		<td>
			&nbsp<a href="https://koji.kjnet.xyz/koji/packageinfo?packageID={{package_name}}" target="_blank">Koji</a>&nbsp
		</td>
		<td>
			&nbsp<a href="https://koschei.kjnet.xyz/package/{{package_name}}?collection=jp" target="_blank">Koschei</a>&nbsp
		</td>
	</tr>
	{% endfor %}
</table>

<p>
<strong>Legend:</strong>
<table>
	<tr>
		<td class="box" style="background-color: red;"></td>
		<td>
			Current version is older than its upstream version
		</td>
	</tr>
	<tr>
		<td class="box" style="background-color: blue;"></td>
		<td>
			Current version is newer than its upstream version.
			This can indicate issues retrieving the upstream version.
		</td>
	</tr>
	<tr>
		<td class="box" style="background-color: darkgreen;"></td>
		<td>
			Current version is older than its upstream version which is
			currently pre-release but newer or up-to-date with the upstream
			latest stable version.
		</td>
	</tr>
	<tr>
		<td class="box" style="background-color: orange;"></td>
		<td>
			The version should be kept at the current version for reasons
			specified in the comment.
		</td>
	</tr>
	<tr>
		<td class="box" style="background-color: darkorchid;"></td>
		<td>
			The retrieved upstream version is incorrect and current version is
			equal to the latest correct upstream version.
		</td>
	</tr>
</table>
</p>

<p>
	Generated on {{report_dict["time-generated"]}} by {{report_dict["hostname"]}}
</p>

</html>
