{{ template "header.html" . }}

<h2>Version report</h2>
<p>Based on data fetched at {{.Time}} by <code>{{.Hostname}}</code></p>

<table class="version-dashboard table table-bordered table-striped table-hover">
  <thead class="table-primary">
    <tr>
      <th rowspan="2">Package name</th>
      <th rowspan="2">Javapackages<br/>Bootstrap<br/>version</th>
      <th colspan="{{ len .Columns.Fedora }}">Fedora versions</th>
      <th colspan="2">Upstream version</th>
      <th rowspan="2">Links</th>
    </tr>
    <tr>
      {{ range .Columns.Fedora }}
      <th>{{.}}</th>
      {{ end }}
      <th>Stable</th>
      <th>Latest</th>
    </tr>
  </thead>
  <tbody>
    {{ range $component, $_ := .Versions }}
    <tr>
      <td><code>{{$component}}</code></td>

      <td class="{{.JpbNorm.Class}}">{{.JpbNorm.Version}}</td>

      {{ range .Normalized }}
      <td colspan="{{.Repeat}}" class="{{.Class}}">{{.Version}}</td>
      {{ end }}

      {{ if eq .Upstream.Latest .Upstream.Stable }}
      <td colspan="2">{{.Upstream.Latest}}</td>
      {{ else }}
      <td>{{.Upstream.Stable}}</td>
      <td>{{.Upstream.Latest}}</td>
      {{ end }}
      <td>
	<a title="Bugzilla" href="https://bugzilla.redhat.com/buglist.cgi?product=Fedora&component={{$component}}&f1=bug_status&o1=notequals&v1=CLOSED" style="text-decoration: none; color: inherit">🐞</a>
	<a title="Dist-Git" href="https://src.fedoraproject.org/rpms/{{$component}}" style="text-decoration: none; color: inherit">🛠️</a>
	<a title="Koschei" href="https://koschei.fedoraproject.org/package/{{$component}}" style="text-decoration: none; color: inherit">⚙️</a>
	<a title="Packages" href="https://packages.fedoraproject.org/pkgs/{{$component}}/" style="text-decoration: none; color: inherit">🔍</a>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "footer.html" }}
